[submodule ".config/oh-my-zsh/custom/plugins/autoswitch_virtualenv"]
	path = .config/oh-my-zsh/custom/plugins/autoswitch_virtualenv
	url = https://github.com/MichaelAquilina/zsh-autoswitch-virtualenv.git
